@import "./blog.less";

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.wrapper {
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    background: #212020;
    
    .index {
        height: 100vh;
    }
    header {
            font-family: monospace;
            position: absolute;
            width: 280px;
            height: 280px;
            top: ~"calc(50% - 140px)";
            left: ~"calc(50% - 140px)";
            color: #fff;
            font-size: 35px;
            background: indianred;
            transform: rotate(45deg);
            transition: transform .7s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
                transform: rotate(0deg);
                transition: all .7s;
                color: #efefef;
                background: indianred;
            }

            .logo-text {
                transform: rotate(-45deg);
                transition: transform .7s;
            }

            &:hover .logo-text {
                transform: rotate(0deg);
                transition: transform .7s;
            }
        }

}

h1, h2, h3, h4 {
    margin: 5px 0;
}
h1 {
    font-size: 32px;
}

a {
    color: indianred;
    text-decoration: none;
    
    &:hover {
        color: lighten(indianred, 10%)
    }
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    
    ul {
        max-width: 800px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        
        li {
            margin-left: 30px;
        }
    }
}
