.blog {
    header {
        transform: rotate(0deg);
        position: absolute;
        width: 140px;
        height: 140px;
        top: 0;
        left: 0;
        color: #efefef;
        font-size: 18px;
        background: indianred;
    }    
}