{{outlet}}
<h1>Hello World and welcome to thisFunction: a front end development blog.</h1>
<p>My name is Adam Skoczylas and I'd like to share my front end devleopment story with you. I don't come from a technical background, but a few years in the industry has made me a passionate front end developer with a yearning for more knowledge.</p>