<h1>thisFunction: a front end development blog.</h1>

<p>Hello World! My name is Adam Skoczylas, and I'm writing this blog as a sign of gratitude to the front end development world for helping me become the developer that I am today.</p>
<p>Even though I don't have a formal technical education -I have a hold a B.A. in English Literature- due to the sincerity and helpfulness I have received over the last few years, I'm now able to work as a front end developer and love every minute of it! On this blog, I will try to contribute by sharing some useful code snippets, explain various concepts that have proved to be difficult for me, and recommend some books, videos, and other helpful sites with developers that are embarking on a similar journey as I have done.</p>
<p>I hope you enjoy the site. It is written using ember.js and uses MongoDB for content managment. I highly encourage everyone interested to take a look at the code base on gitHub.</p>
<p>Feel free to give me a shout!</p>
<p>-Adam</p>
{{outlet}}
