<h1>thisFunction: a front end development blog.</h1>
<p>Yo World! My name is Adam Skoczylas and I'm writing this blog to show my gratitiude to the front end development world for helping shape me into the developer that I am today.</p>
<p>As a little bit of background, I don't have a formal technical education, in fact, I have a hold a B.A. in English Literature. But after I moved from the States to Krakow Poland, I decided to change the course of my career and have slowly been building my HTML, CSS and JS skillsn which has allowed me to do what I love on a daily basis. I have done this mostly through e-learning platforms, blogs and forums, and some handy books that I highly recommend.</p>
{{outlet}}