<div class="wrapper">
    {{liquid-outlet}}
    
    <footer>
        <ul>
            <li>A front end development blog by Adam Skoczylas</li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">About me</a></li>
        </ul>
    </footer>
</div>