<section class="blog">
    <section class="left">
        {{#link-to "index" tagName="header" class="header-link"}}
            <span class="logo-text">thisFunction</span>
        {{/link-to}}
        <div class="blog-entries">
            {{blog-entry-titles}}
        </div>
        
    </section>
    <section class="right">
        <div class="right-content-wrapper">
            {{outlet}}
        </div>
    </section>
</section>