<section class="blog">
    <section class="left">
        {{#link-to "index" tagName="header" class="header-link"}}
            <span class="logo-text">thisFunction</span>
        {{/link-to}}
    </section>
    <section class="right">{{outlet}}</section>
</section>